@font-face{
    font-family: 'Lato-Bold';
    src: url(font/Lato-Bold.ttf)
}
body{
    justify-content: center;
    align-content: center;
    margin: 0px; 
    min-width: 1024px;  
}
 .header{
    width: 100%;
    height: 250px;
    background-color: #000; 
    justify-content: center;
    align-content: center;
    margin: 0px;  
    display: flex;
}
.photo-profil{
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 200;
    border-radius:50%;
    background-image: url(photo-profil.jpg);
    background-size: contain;
    justify-content: center;
    align-content: center;
    margin-left: -200px;
    margin-top: 25px;
    display: flex;
}
.name{
    width: 100px;
    color: #cccc;
    font-family: Lato-Bold;
    font-size: 35pt;
    justify-content: center;
    position: absolute;
    margin-top: 55px;
    display: flex;  
}
.contact{
    display: flex;
    align-self: flex-end;
    position: relative;
    z-index: 99;
    left: -15px;
}
.facebook-wrap {
    width: 55px;
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook {
    width: 55px;
    height: 55px;
    background-image: url(facebook.svg);
    background-size: contain;
}
.vk-wrap {
    width: 55px;
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vk {
    width: 55px;
    height: 55px;
    background-image: url(vk.svg);
    background-size: contain;
}
.skype-wrap {
    width: 55px;
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skype {
    width: 55px;
    height: 55px;
    background-image: url(skype.svg);
    background-size: contain;
}
.gmail-wrap {
    width: 55px;
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmail {
    width: 55px;
    height: 55px;
    background-image: url(gmail.svg);
    background-size: contain;
}
.main{
    width: 100%;
    height: 100%;
}
.mysummary{
    width: 500px;
    justify-self: center;
    align-self: center;
    margin: auto;
}
.summary{
    color: rgba(2, 1, 1);
    font-family: Lato-Bold;
    font-size: 18pt;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.summary-text{
    text-align: justify;
    color: rgb(2, 1, 1);
    font-family: Lato-Bold;
    font-size: 18pt;
    
}
.myskills{ 
    width: 500px;
    justify-content: center;
    align-content: center;   
    margin: auto; 
}

.skill{
    color: rgba(2, 1, 1);
    font-family: Lato-Bold;
    font-size: 18pt;
    display: flex;
    justify-content: center;

}
.skill-icon{
    width: 415px;
    display: flex;
    justify-content: center;
    align-content: center;

}
.html{
    width: 100px;
    height: 100px;
}
.css{
    width: 100px;
    height: 100px;
}
.js{
    width: 100px;
    height: 100px;
}
.php{
    width: 100px;
    height: 100px;
}
.ps{
    width: 100px;
    height: 100px; 
}
.myexperience{
    width: 500px;
    margin: auto;
}
.experience{
    color: rgba(2, 1, 1);
    font-family: Lato-Bold;
    font-size: 18pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-text{
    text-align: justify;
    left: 20px;
    color: rgba(2, 1, 1);
    font-family: Lato-Bold;
    font-size: 18pt;
    display: flex;
}
.myeducation{
    width: 500px;
    justify-self: center;
    align-self: center;
    margin: auto;
}
.education{
    color: rgba(2, 1, 1);
    font-family: Lato-Bold;
    font-size: 18pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education-text{
    text-align: justify;
    left: 20px;
    color: rgba(2, 1, 1);
    font-family: Lato-Bold;
    font-size: 18pt;
    display: flex;
}
.text{
    text-align: justify;
    left: 20px;
    color: rgba(2, 1, 1);
    font-family: Lato-Bold;
    font-size: 18pt;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
}